*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(gambar/bg3.jpg);
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
    
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;

}

.logo a {
    font-size: 100px;
    font-weight: 800;
    float: inherit;
    font-family: courier;
    color: #787A91;
}

.menu {
    float: right;
}

nav { 
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
   position: sticky;
    position: -webkit-sticky;
    top: 0;
    
    background-image: url(gambar/bg.jpg);
    z-index: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;

} 

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-top: 50px;
}

.kolom .deskripsi {
        font: 20px;
        font-weight: bold;
        font-family: 'comic sans ms';
        color: #787A91;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #787A91;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: #7C83FD;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffff;
    cursor: pointer;
    font-weight: bold
}

a.tbl-biru:hover {
    background: #687980;
    text-decoration: none;
}

a.tbl-pink {
    background: #FFF338;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffff;
    cursor: pointer;
    font-weight: bold
}

a.tbl-pink:hover {
    background: #187f86;
    text-decoration: none;
}

p{
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

a.tbl-biru2 {
    background: #00c3ff;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 10px;
    padding: 15px 20px 15px 20px;
    color: #ffff;
    cursor: pointer;
    font-weight: bold;

}

a.tbl-biru2:hover {
    background: #FFF338;
    text-decoration: none;
}

a.tbl-oren {
    background: #ff8500;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 10px;
    padding: 15px 20px 15px 20px;
    color: #ffff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-oren:hover {
    background: #687980;
    text-decoration: none;
}
